$cyb-navy: #2B3B4B;
$cyb-blue: #00B9F2;

$cyb-secondary-green: #14b795;
$cyb-secondary-blue: #21409a;
$cyb-secondary-purple: #9a2890;

$cyb-info: #00b7c6;
$cyb-success: #24743A;
$cyb-error: #dc4d5a;
$cyb-warning: #DA9E29;

$cyb-background-gray: #999999;
$cyb-background-light: #E6E6E6;
$cyb-background-white: #ffffff;