<div class="sidebar-container">
    <div class="logo">
      <img src="\Validator.png" class="srcimg">
    </div>
    <nav>
      <ul>
        <!-- <li>
          <a routerLink="/dashboard" routerLinkActive="active">
            <i class="fas fa-tachometer-alt"></i>
            <span class="links">Dashboard</span>
          </a>
        </li> -->
        <li>
          <a routerLink="/perform" routerLinkActive="active">
            <!-- <i class="fas fa-cogs"></i> -->
            <span class="links">Perform</span>
          </a>
        </li>
        <!-- <li>
          <a routerLink="/history" routerLinkActive="active">
            <i class="fas fa-history"></i>
            <span class="links">History</span>
          </a>
        </li>
        <li>
          <a routerLink="/config" routerLinkActive="active">
            <i class="fas fa-sliders-h"></i>
            <span class="links">Config</span>           
          </a>
        </li>
        <li>
          <a routerLink="/users" routerLinkActive="active">
            <i class="fas fa-users"></i>
            <span class="links">Users</span>
          </a>
        </li>   -->
      </ul>
    </nav>
  </div>